@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
}

/* TODO: fix these hacks for styling markdown/codeblocks */
.bot,
.bot p,
.bot h1,
.bot h2,
.bot h3,
.bot h4,
.bot h5,
.bot h6,
.bot a,
.bot code {
  color: #fff !important;
}
.bot code {
  white-space: break-spaces;
}

/* TODO: fix these layout hacks */
.preview .sp-layout,
.preview .sp-layout .sp-stack {
  height: 100%;
}

.preview .sp-layout {
  border: 0px;
}

/* Sandpack base styles */

/* ===== SandpackProvider ============================= */
/* Overall wrapper */
div.sp-wrapper {
}

/* ===== SandpackCodeEditor =========================== */
/* Tab bar */
div.sp-tabs {
}

/* Scrollable tab container */
div.sp-tabs-scrollable-container {
}

/* Individual tab */
button.sp-tab-button {
  cursor: pointer;
}

/* Active tab */
button.sp-tab-button[data-active="true"] {
}

/* Wrapper for components */
div.sp-stack {
}

/* Code editor wrapper */
div.sp-code-editor {
}

/* Background for code editor */
div.cm-editor {
}

/* Code editor content */
div.sp-code-editor div.cm-content {
}

/* Line of code */
div.sp-code-editor div.cm-line {
}

/* Active line of code */
div.sp-code-editor div.cm-line.cm-activeLine {
}

/* Gutter background */
div.sp-code-editor div.cm-gutters {
}

/* Line numbers */
div.sp-code-editor div.cm-gutter.cm-lineNumbers {
}

/* ===== SandpackPreview ============================== */
/* Preview container */
div.sp-preview-container {
}

/* Preview iframe */
iframe.sp-preview-iframe {
}

/* Wrapper for buttons in preview container */
div.sp-preview-actions {
}

/* Wrapper for loading icon in preview container */
div.sp-loading {
}

/* Open in Sandbox button, appears while loading */
button.sp-icon-standalone {
}

/* Error box */
div.sp-error {
}

/* Error text */
div.sp-error-message {
  white-space: pre-wrap;
}
